.conten-videos{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;    
}
.conten-videos2{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
      
}
.conten-videos3{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;      
}
.conten-videos4{    
    width: 100%;   
    align-items: center;
    display: flex;    
    justify-content: center; 
    align-items: center;     
}

.conten-videos .deidad1{
    width: 25%;
    margin: 50px;
    text-align: center;
}
.conten-videos2 .deidad1{
    width: 25%;
    margin: 50px;
    text-align: center;
}
.conten-videos3 .deidad1 {
    width: 25%;
    margin: 50px;
    text-align: center;
}
.conten-videos4 .deidad1 {
    width: 25%;
    margin: 50px;
    text-align: center;
}

.deidad1 iframe{
    width: 100%;
    height: 255px;
      
}

@media (max-width: 900px){

    .conten-videos{
        display: block;
        width: 100%;
    }
    .conten-videos2{
        display: block;
        width: 100%;
    }
    .conten-videos3{
        display: block;
        width: 100%;
    }
    .conten-videos4{
        display: block;
        width: 100%;
    }
    .conten-videos .deidad1{

        width: 90%;
        margin: 20px;
    }
    .conten-videos2 .deidad1{

        width: 90%;
        margin: 20px;
    }
    .conten-videos3 .deidad1{

        width: 90%;
        margin: 20px;
    }
    .conten-videos4 .deidad1{

        width: 90%;
        margin: 20px;
    }




}

@media (max-width: 600px){

    .conten-videos{
        display: block;
        width: 100%;
    }
    .conten-videos2{
        display: block;
        width: 100%;
    }
    .conten-videos3{
        display: block;
        width: 100%;
    }
    .conten-videos4{
        display: block;
        width: 100%;
    }
    .conten-videos .deidad1{

        width: 90%;
        margin: 20px;
    }
    .conten-videos2 .deidad1{

        width: 90%;
        margin: 20px;
    }
    .conten-videos3 .deidad1{

        width: 90%;
        margin: 20px;
    }
    .conten-videos4 .deidad1{

        width: 90%;
        margin: 20px;
    }




}