.nav-main{
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 0;
    position: fixed;
    background: #43522b;
    z-index: 10;
    left: 0;
}

.logo{
    width: 70px;
}
.nav-main ul {
    display: flex;
    
}
.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a:hover{
   border-bottom: 3px solid #89c529;
}
/* .nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
} */

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
    z-index: 2;
    display: none;
    justify-content: center;
}

#titulo{
    margin-left: 0;
}

#titulo b{
    color: chartreuse;
}

.container-submenu{
    position: relative;
}

.submenu{
    position: absolute;   
    top: 60px;
    width: 200px;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

.container-submenu:hover .submenu{
    opacity: 1;
    visibility: visible;
    display: block;
    background: #43522b;
    top: 38px;
}

